@model ProdutoModel
@{
    ViewData["Title"] = "Editar Produto";
}
<div class="text-center">
    <h1 class="display-4">Editar Produto</h1>
</div>
<form asp-controller="Produto" asp-action="Atualizar" method="post">
  <div class="mb-3">
    <label>Nome:</label>
    <input type="text" asp-for="Nome" class="form-control" id="exampleFormControlInput1" placeholder="Digite o nome do produto">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Descrição:</label>
    <input type="text" asp-for="Descricao" class="form-control" id="exampleFormControlInput1" placeholder="Descreva o produto aqui">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Categoria</label>
    <input type="text" asp-for="Categoria" class="form-control" id="exampleFormControlInput1" placeholder="Descreva o produto aqui">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Marca</label>
    <input type="text" asp-for="Marca" class="form-control" id="exampleFormControlInput1" placeholder="Descreva o produto aqui">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Preço</label>
    <input type="number" asp-for="Preco" class="form-control" id="exampleFormControlInput1" placeholder=" R$0,00 ">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Quantidade em Estoque</label>
    <input type="number" asp-for="QuantidadeEmEstoque" class="form-control" id="exampleFormControlInput1" placeholder=" 0 ">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">LinkImagem</label>
    <input type="text" asp-for="LinkImagem" class="form-control" id="exampleFormControlInput1" placeholder=" Link aq ">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">base64</label>
    <input type="text" asp-for="base64" class="form-control" id="exampleFormControlInput1" placeholder=" Link aq ">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Extension</label>
    <input type="text" asp-for="LinkImagem" class="form-control" id="exampleFormControlInput1" placeholder=" Link aq ">
</div>
  <button type="submit" class="btn btn-primary">Alterar</button>
  <a role="submit" class="btn btn-secondary" asp-controller="Produto" asp-action="ListagemProduto">Voltar</a>
  <input type="hidden" asp-for="IdProduto"/>
</form>

